@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bar-bg{
  background-color: #05344a;
}
.common-color{
  background: #25a5de;
}
.background-image {
  height: 750px;
}

.hero-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 60px 55px;
    color: #ffffff;
}



.location-module__badge {
    
    top: 30px;
    background-color: #05344a;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.forth-bg{
  background-color: #ebf8fd;
  padding: 60px 55px;
}
.hover-image{
  background-color: #ebf8fd;
}